<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>advise.u</title>
</head>
<body>
  
<h2 style="text-align: center;"><strong>Random Advices About Everything API </strong></h2>
  
<p style="text-align: center;"><img src="https://static.dw.com/image/19432714_401.jpg" alt="beautiful racoon" width="300" height="194" /></p>
<p style="text-align: center;">To use the API, enter a number from 1 to 15 at the end of the address of this site.</p>
<p style="text-align: center;"></p>
<p style="text-align: center;">Have fun and have a good day =)</p>
<p style="text-align: center;">Example:</p>
<p style="text-align: center;"><a href="https://Advice.anxc.repl.co/7">https://Advice.anxc.repl.co/7</a></p>
<p style="text-align: center;">API developed by Ana Clara Maiberg</p>
  
</body>
</html>